{% extends 'catalog/base.html' %}
{% load to_media %}

{% block content %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Блоги</h1>
        <p class="fs-5 text-body-secondary">Здесь находятся блоги пользователей</p>
        <a class="btn btn-outline-success" href="{% url 'blog:create' %}">Создать свой блог</a>
    </div>
</header>

<main class="row">
    <div class="row text-center">
        {% for blog in object_list %}
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal"><b>{{ blog.title }}</b></h4>
                    </div>
                    <div class="card-body">
                        {% if object.preview %}
                            <img class="img-top form-control" src="{{ object.preview| my_media }}">
                        {% endif %}
                        <p>
                            {{ blog.description }}
                        </p>

                        <a class="btn form-control btn-primary btn-success" href="{% url 'blog:details' blog.pk %}">Посмотреть</a>
                        <a class="btn mt-2 form-control btn-primary btn-warning" href="{% url 'blog:update' blog.pk %}">Изменить</a>
                        <a class="btn mt-2 form-control btn-primary btn-danger" href="{% url 'blog:delete' blog.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div>
            <p class="d-inline-flex gap-1">
                <a class="btn btn-info" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="false" aria-controls="multiCollapseExample1">Как купить?</a>
                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">Как доставить?
                </button>
                <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multiCollapseExample3" aria-expanded="false"
                        aria-controls="multiCollapseExample3">Какая гарантия?
                </button>
            </p>
            <div class="row">
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                            Нажми на кнопку купить
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            Зря ты туда полез
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                        <div class="card card-body">
                            Честное слово все работает
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
