{% extends 'catalog/base.html' %}

{% block content %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        <a type="button" class="btn btn-outline-primary" href='{% url "catalog:create_category" %}'>Добавить категори</a>
    </div>
</header>

<main class="row">
    {% for product in object_list%}
    <div class="col-4">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 text-center">
                <h4 class="my-0 fw-normal"><b>{{ product.name }}</b></h4>
            </div>
            <div class="card-body">
                <p>
                    {{ product.description }}
                </p>

                {% if perms.catalog.change_product %}
                <a class="btn btn-primary btn-warning mb-2" href="{% url 'catalog:update_category' 2 %}">Изменить</a>
                <!--почему-то не работает category.pk-->
                {% endif %}
                {% if perms.catalog.delete_product %}
                <a class="btn btn-primary btn-danger mb-2" href="{% url 'catalog:delete_category' 3 %}">Удалить</a>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
    {% endfor %}

    <div>
        <p class="d-inline-flex gap-1">
            <a class="btn btn-info" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
               aria-expanded="false" aria-controls="multiCollapseExample1">Как купить?</a>
            <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample2" aria-expanded="false"
                    aria-controls="multiCollapseExample2">Как доставить?
            </button>
            <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                    data-bs-target="#multiCollapseExample3" aria-expanded="false"
                    aria-controls="multiCollapseExample3">Какая гарантия?
            </button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Нажми на кнопку купить
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        Зря ты туда полез
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body">
                        Честное слово все работает
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
